:root {
    --header-height: 13vh;
}

/* body */

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #ECECEC;
}

/* end body */

/* header */

.header {
    background-color: #D1D0D0;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #A9A9A9;
    padding: 8px;
    width: 184px;
}

.search-container input[type="text"] {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    width: 100%;
    color: #DDDDDD;
}

.search-container input[type="text"]::placeholder {
    color: #DDDDDD;
}

.search-container .search-icon {
    width: 26px;
    height: 26px;
    margin-right: 9px;
    fill: #DDDDDD;
}

.dropdown {
    position: absolute;
    top: 69px;
    left: 15px;
    width: 100%;
    border: 1px solid #CCC;
    background: #fff;
    max-width: 200px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.dropdown::-webkit-scrollbar {
    width: 5px;
}
  
.dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
.dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}
  
.dropdown::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #EEE;
}

.dropdown-item:hover {
    background-color: #F0F0F0;
}

/* end header */

/* main */

.main {
    height: calc(100vh - var(--header-height));
    display: flex;
}

.button {
    cursor: pointer;
}

/* left-main */

.left-main {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
}

.input-date {
    margin-bottom: 5px;
}

.button {
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    background-color: #C4C4C4;
    border: none;
    font-size: 18px;
}

.unfulfilled-checkbox {
    margin-top: 25px;
}

/* end left-main */

/* right-main */

.right-main {
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.right-main-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.sort-button {
    cursor: pointer;
}

.todo-item {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #D2D2D2;
}

.todo-item-left {
    height: 100%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.todo-item-name {
    margin: 0;
    margin-bottom: 10px;
}

.todo-item-short-desc {
    margin: 0;
}

.todo-item-date {
    margin: 0;
}

.todo-item-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

.todo-item-status {
    width: 35px;
    height: 35px;
    margin: 0;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #FFF;
    margin: 5% auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80%;
    width: 350px;
    height: 400px;
}

.modal-content-top {
    display: flex;
    justify-content: space-between;
}

.modal-name {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
}

.motal-date {
    margin: 0;
}

.modal-status {
    height: 35px;
    width: 35px;
}

.modal-horizontal-line {
    margin: 10px 0;
}

.modal-content-bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-description {
    margin: 0;
    max-height: 300px;
    padding-right: 10px;
    overflow-y: auto;
}

.modal-description::-webkit-scrollbar {
    width: 5px;
}
  
  .modal-description::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  .modal-description::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}
  
  .modal-description::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.modal-button {
    align-self: flex-end;
    width: 90px;
    height: 25px;
    border: none;
    font-size: 12px;
    background-color: #E8E8E8;
}

/* end right-main */

/* end main */